---
import { Font } from "astro:assets";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SmoothScroll from "../components/SmoothScroll.astro";
import { useTranslations } from "../i18n/utils";
import "../styles/global.css";

const { title } = Astro.props;
const t = useTranslations();

const links = [
  { title: "Home", url: "/" },
  { title: "About", url: "/" },
  { title: "Contact", url: "/" },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <Font cssVariable="--font-roboto-slab" preload />
    <Font cssVariable="--font-inter" preload />
    <title>{title}</title>
  </head>
  <body>
    <a href="#main" class="skip-link">{t("accessibility.skip-to-content")}</a>
    <Header
      logoUrl="/"
      logoAlt="VIIO"
      links={links}
      link1={{ title: "Login", url: "#" }}
      link2={{ title: "Get Started", url: "#" }}
    />
    <main id="main">
      <slot />
    </main>
    <Footer logoUrl="/" logoAlt="VIIO" links={links} />
    <SmoothScroll />
  </body>
</html>

<style>
  .skip-link {
    background: var(--color-brand-1);
    left: 0;
    right: 0;
    margin: auto;
    width: min-content;
    white-space: nowrap;
    padding: 0.5rem;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 100;
  }

  .skip-link:focus {
    transform: translateY(0%);
  }
</style>

<script>
  import "../utils/reveals";
</script>
